<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crack Caesar Cipher</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Взлом Цезаря</h1>
      <form action="/crack_caesar" method="post" class="mt-3">
        <div class="form-group">
          <label for="data_in">Зашифрованный текст:</label>
          <textarea
            class="form-control"
            id="data_in"
            name="data_in"
            rows="4"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Взломать</button>
      </form>
    </div>
  </body>
</html>
